@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 280 8% 16%;
    --foreground: 260 2% 95%;
    --card: 280 15% 25%;
    --card-foreground: 260 2% 95%;
    --popover: 280 15% 25%;
    --popover-foreground: 260 2% 95%;
    --primary: 340 76% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 280 15% 25%;
    --secondary-foreground: 260 2% 95%;
    --muted: 280 15% 25%;
    --muted-foreground: 278 10% 62%;
    --accent: 170 45% 89%;
    --accent-foreground: 280 8% 16%;
    --destructive: 34 60% 65%;
    --destructive-foreground: 0 0% 100%;
    --border: 280 20% 33%;
    --input: 280 20% 33%;
    --ring: 340 76% 67%;
    --chart-1: 340 76% 67%;
    --chart-2: 300 76% 55%;
    --chart-3: 210 40% 84%;
    --chart-4: 170 45% 89%;
    --chart-5: 100 50% 92%;
    --sidebar: 280 8% 16%;
    --sidebar-foreground: 260 2% 95%;
    --sidebar-primary: 340 76% 67%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 170 45% 89%;
    --sidebar-accent-foreground: 280 8% 16%;
    --sidebar-border: 280 20% 33%;
    --sidebar-ring: 340 76% 67%;
  }
}
